.book-card {
  width: var(--dashboard-book-card-width, 180px) ;
  height: var(--dashboard-book-card-height, 380px); // Fixed card height except where defined in other component css :host
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;  /* title | image | button */
  padding: 10px;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.book-title {
  font-size: 1.1rem;
  margin: 0 0 6px 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 7;        
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Image wrapper centered in middle */
.book-cover-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.book-cover {
  max-width: 100%;
  max-height: 160px;  
  object-fit: contain;
}

.book-author,
.book-published {
  font-size: 0.9rem;
  color: #555;
  margin: 2px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-add {
  width: 100%;
  padding: 6px 12px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: end;  /* stick to bottom of grid */
}

.book-add:hover {
  background-color: #222;
}
