<div class="login-container">
  <div class="login-card">

    <img class="login-logo"
    [src]="logo">

    <!-- Google login -->
    <button class="google-login" type="button" (click)="authLogin()">
      <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
      <span>Sign in with Google</span>
    </button>

    <div class="divider">or</div>

    <!-- Email/password login -->
    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
      <input formControlName="email" placeholder="Email" class="login-input" required />
      <input formControlName="password" placeholder="Password" type="password" class="login-input" required />
      <button type="submit" class="login-button">Login with Username</button>
    </form>

  </div>
</div>