<div class="dashboard-container">
    <button (click)="navigateToLibrary()">
        Library
    </button>
    <div class="dashboard-header">
        Header
    </div>
    <div class="dashboard-club-header">
        Club Header
    </div>
    <div class="dashboard-queue">
        Queue
    </div>
    <div class="dashboard-leaderboard">
        Leaderboard
    </div>
    <div class="dashboard-recent-activity">
        Recent Activity
    </div>
    <div class="dashboard-reading-history">
        Reading History
    </div>
    <div class="dashboard-my-book-reports">
        My Book Reports 
    </div>
</div>