<!-- Members Section -->
<div class="members-container">
  <div class="card-container">
    <app-member
      (click)="navToMemberDetail(member)"
      *ngFor="let member of membersList"
      [memberName]="member.name"
      [memberRole]="member.role"
      [memberTeam]="member.team"
      [memberEmail]="member.email"
      [memberLocation]="member.location"
      [memberJoinDate]="member.joinDate"
      [memberPhoto]="member.photoUrl"
      [memberStatus]="member.status"
      >
    </app-member>
  </div>
</div>
